body{
    background-image: linear-gradient(to bottom right, lightblue, white);
    background-attachment: fixed;
    padding-bottom: 50px;
}

.card{
    margin-left: auto;
    margin-right: auto;
}
li{
    font-weight: bold;
    font-size: large;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
}
.profilkep{
    width: 10vw;
}